@page "/categorias"
@rendermode InteractiveServer
<PageTitle>Categorias</PageTitle>
@inject ICategoria repositorio;
@inject NavigationManager navigation;
<h3>Categorias</h3>

@if (categorias == null)
{
    <p><em>Cargando...</em></p>
}
else if (categorias.Count == 0)
{
    <p><em>No hay categorias registradas</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in categorias)
            {
                <tr>
                    <td>@categoria.Nombre</td>
                    <td>
                        <button class="btn btn-danger" @onclick="()=>Eliminar(categoria.ID_Categoria)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                <path d="M2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z" />
                            </svg>
                        </button>
                        <button class="btn btn-info" @onclick="()=>Editar(categoria.ID_Categoria)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>
                        <button class="btn btn-dark" @onclick="()=>Productos(categoria.ID_Categoria)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<button class="btn btn-primary" @onclick="NavegarACategoriaNueva">Agregar categoria</button>
@code{
    private List<Categoria> categorias;
    protected override async Task OnInitializedAsync()
    {
        categorias = await repositorio.GetAll();
    }
    private void NavegarACategoriaNueva()
    {
        navigation.NavigateTo("categorias/nueva");
    }
    private async void Eliminar(int id)
    {
        await repositorio.Delete(id);
        categorias = await repositorio.GetAll();
        StateHasChanged();
    }
    private void Editar(int id)
    {
        navigation.NavigateTo($"categorias/{id}");
    }
    private void Productos(int id)
    {
        navigation.NavigateTo($"categorias/productos/{id}");
    }
}
